<table style="border-collapse: collapse; width: 100%; height: 67.1718px;" border="0" cellpadding="10">
<tbody>
<tr style="height: 22.3906px;">
<td style="width: 98.1074%; height: 22.3906px;">Cher <%= userName%>,</td>
</tr>
<tr style="height: 22.3906px;">
<td style="width: 98.1074%; height: 22.3906px;"><span style="display: inline !important; font-family: S&ouml;hne, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">ne partagez pas votre OTP avec quiconque</span></td>
</tr>
<tr style="height: 22.3906px;">
<td style="width: 98.1074%; height: 22.3906px;">Votre OTP is <strong><%= otp%></strong></td>
</tr>
</tbody>
</table>