<table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
<tbody>
<tr>
<td style="width: 98.1074%;">Cher <%= userName%>,</td>
</tr>
<tr>
<td style="width: 98.1074%;">Mot De Passe Oubli&eacute; ?</td>
</tr>
<tr>
<td style="width: 98.1074%;">Nous avons r&eacute;&ccedil;u un message concernant le changement de mot de passe de votre compte.</td>
</tr>
<tr>
<td style="width: 98.1074%;">Pour changer clickez le lien ci-dessous :</td>
</tr>
<tr>
<td style="width: 98.1074%;"><%= linkText%></td>
</tr>
<tr>
<td style="width: 98.1074%;">Si vous n'avez pas oubli&eacute; votre mot de passe , svp ne clicker pas sur le lien.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>